<div class="container-fluid">
  <div class="col-lg-9 d-inline float-left">
    <h2>Student Management</h2>
    <button  class="btn btn-info" style="border-radius: 20px; margin: 20px" routerLink="/create-student">Create New Student</button>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Mark</th>
        <th scope="col">Age</th>
        <th scope="col">Image</th>
        <th scope="col">Result</th>
        <th scope="col">Modify</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of studentList">
        <th scope="row">{{student.id}}</th>
        <td><a [routerLink]="['detail',student.id]">{{student.name}}</a></td>
        <td>{{student.mark}}</td>
        <td>{{student.age}}</td>
        <td><img [src]="student.image" class="img-thumbnail" style="height: 90px" [style.width.px]="student.size"></td>
        <td><h3 *ngIf="student.mark>5; else failedCase" style="color: greenyellow; font-size: 30px">Pass</h3>
          <ng-template #failedCase><h3  style="color: red; font-size: 30px">Failed</h3></ng-template>
        </td>
        <td>
          <button  class="btn btn-warning" [routerLink]="['edit',student.id]"  style="border-radius: 20px; margin: 20px 20px 20px 0" >Edit</button>
          <button  class="btn btn-danger" [routerLink]="['delete',student.id]"  style="border-radius: 20px; margin: 20px 20px 20px 0" >delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>



