<div class="card" style="width: 27rem;">
  <img class="card-img-top" [src]="student.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{student.name}}</h5>
    <p class="card-text">Id: {{student.id}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Age: {{student.age}}</li>
    <li class="list-group-item">Mark: {{student.mark}}</li>
<!--    <li class="list-group-item">Vestibulum at eros</li>-->
  </ul>
    <h3>Set Image</h3>
    <input class="form-control col-lg-6" type="text" [(ngModel)]="student.image" >
    <h3>Set Mark</h3>
    <input class="form-control" type="range" min="0" max="10" (change)="setMark($event.target.value)" [value]="student.mark">
<!--    <h3>Set Image size</h3>-->
<!--    <input class="form-control" type="range" min="100" max="200" (change)="setSize($event.target.value)">-->
<!--  <div class="card-body">-->
<!--    <a href="#" class="card-link">Card link</a>-->
<!--    <a href="#" class="card-link">Another link</a>-->
<!--  </div>-->
</div>
